@charset "UTF-8";
.fr-version {
  --rows: 8;
  position: relative;
}

.fr-version .fr-version__btn {
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.5rem 1rem;
  overflow: initial;
  max-width: 100%;
  max-height: none;
  font-weight: 500;
  min-height: 3rem;
  width: 100%;
}

.fr-version .fr-version__btn::before {
  --icon-size: 1rem;
  margin-left: -0.125rem;
  margin-right: 0.5rem;
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-image: url("../dist/icons/editor/version-2.svg");
  mask-image: url("../dist/icons/editor/version-2.svg");
  content: "";
}

.fr-version .fr-version__btn::after {
  transition: transform 0.3s;
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: calc((0.75em - var(--icon-size)) * 0.5);
  background-color: currentColor;
  width: var(--icon-size);
  height: var(--icon-size);
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  -webkit-mask-image: url("../dist/icons/system/arrow-down-s-line.svg");
  mask-image: url("../dist/icons/system/arrow-down-s-line.svg");
  --icon-size: 1rem;
  content: "";
  margin-left: auto;
}

.fr-version .fr-version__btn[aria-expanded=true]::after {
  transform: rotate(-180deg);
}

.fr-version__version {
  white-space: nowrap;
}

.fr-version__version[aria-current]:not([aria-current=false]) {
  display: none;
}

.fr-version__menu {
  margin: 0;
}

.fr-version .fr-nav__item::before {
  content: none;
}

.fr-version .fr-menu__list {
  width: auto;
  padding: 0;
}

.fr-version .fr-version__btn[aria-expanded=true] {
  color: var(--text-active-blue-france);
  background-color: var(--background-open-blue-france);

  --idle: transparent;
  --hover: var(--background-open-blue-france-hover);
  --active: var(--background-open-blue-france-active);
}

.fr-version .fr-version__btn[aria-expanded=true]:hover {
  background-color: var(--hover-tint);
}

.fr-version .fr-version__btn[aria-expanded=true]:active {
  background-color: var(--active-tint);
}

.fr-version__menu .fr-version__version {
  box-shadow: none;
}

@media (min-width: 62em) {
  .fr-version .fr-version__btn {
    min-height: auto;
    width: auto;
    font-size: 0.875rem;
    line-height: 1.5rem;
    padding: 0.25rem 0.75rem;
  }

  .fr-version .fr-version__btn::after {
    margin-left: 0.25rem;
    margin-right: -0.25rem;
  }

  .fr-version .fr-version__btn::before {
    --icon-size: 1rem;
  }

  .fr-version__version[aria-current]:not([aria-current=false]) {
    display: inline-flex;
  }

  .fr-version__menu {
    margin: -0.25rem -1rem 0;
  }

  .fr-version .fr-menu__list {
    display: grid;
    grid-template-rows: repeat(var(--rows), auto);
    grid-auto-flow: column;
  }

  .fr-btns-group .fr-version__menu {
    margin: -1.25rem -0.75rem 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  .fr-version .fr-version__btn::after {
    transition: none;
  }

  .fr-version__menu {
    transition: none;
  }
}
